<a href="https://colab.research.google.com/github/ClarisseAlvarenga/data_science_alura_cursos/blob/master/Python_para_Data_Science_Pandas_Alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [1]:
!python -V

Python 3.6.9

# 1.3 Trabalhando com dados

In [2]:
import pandas as pd
#para setar o número de linhas visíveis no dataset
pd.set_option('display.max_rows', 1000)
#para setar o número de colunas visíveis no dataset
pd.set_option('display.max_columns', 1000)

In [3]:
dataset = pd.read_csv('db.csv', sep=';')

In [4]:
dataset.head(10)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
6,A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
7,Série 3 Cabrio,Motor 1.0 8v,2009,77599.0,False,"['Controle de estabilidade', 'Sensor crepuscul...",112310.44
8,Dodge Jorney,Motor 3.0 32v,2010,99197.0,False,"['Vidros elétricos', 'Piloto automático', 'Tet...",120716.27
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49

In [5]:
#atributo para verificar os tipos de variáveis
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [6]:
#visualizando estatísticas descritivas das colunas escolhidas
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [7]:
#conferindo dados no dataset (quantidade de nulos, tipos de variável, nome das colunas)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [8]:
#uma tupla é representada pelos parênteses
()

()

In [9]:
#criando tuplas
1,2,3

(1, 2, 3)

In [10]:
# A tupla aceita vários tipos de variáveis
nome = 'Passat'
valor = 153000
(nome,valor)

('Passat', 153000)

In [11]:
#criando uma tupla a partir de uma lista
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [12]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [13]:
#a seleção é semelhante à da lista
nomes_carros[0]

'Jetta Variant'

In [14]:
nomes_carros[-1]

'DS5'

In [15]:
#por slices. como na lista, o índice final não aparece na seleção
nomes_carros[1:3]

('Passat', 'Crossfox')

In [16]:
#buscando dentro de uma tupla encapsulada
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [17]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [18]:
nomes_carros[-1][1]

'Gol'

**Exercício**

In [19]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [20]:
carros[0][3]

False

In [21]:
carros[-1][-1][-1]

'Freios ABS'

In [22]:
carros[0][-1][:2]

('Rodas de liga', 'Travas elétricas')

# 2.3 Iterando em tuplas

In [23]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [24]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [25]:
#atribuindo cada item da tupla em variáveis diferentes
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [26]:
carro_1

'Jetta Variant'

In [27]:
carro_2

'Passat'

In [28]:
carro_3

'Crossfox'

In [29]:
carro_4

'DS5'

In [30]:
#quando não precisamos de todos os valores (usando o underscore)
_, A, _, B = nomes_carros

In [31]:
_

'Crossfox'

In [32]:
A

'Passat'

In [33]:
B

'DS5'

In [34]:
#quando só queremos um dos valores da tupla (o *_ ignora todos os demais itens da tupla)
_,C,*_ = nomes_carros

In [35]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [36]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [37]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [38]:
#esta função é um iterador de tuplas
zip(carros, valores)

In [39]:
#vendo o resultado do zip
list(zip(carros,valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [40]:
#iterando com zip
for item in zip(carros,valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [41]:
#iterando com zip e usando o desempacotamento de tuplas
for carro, valor in zip(carros,valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [42]:
for carro, valor in zip(carros,valores):
  if(valor > 100000):
      print(carro)

Passat
DS5

**Exercícios**

O procedimento de iteração em tuplas é o mesmo que aprendemos com listas, no treinamento anterior. Utilizamos a tupla como iterador de um laço for simples, ou aninhado, e conseguimos acesso a cada item individualmente.

Para responder esta questão, considere a mesma tupla da atividade anterior:

In [43]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

Observe que se trata de uma tupla (1º nível) com duas tuplas, que representam um conjunto de dados de dois veículos (2º nível), e que uma destas informações (acessórios) vêm também dentro de uma tupla (3º nível). O que precisamos é iterar na tupla carros e imprimir todos os acessórios que aparecem. O resultado desejado é o seguinte:

Rodas de liga

Travas elétricas

Piloto automático

Central multimídia

Teto panorâmico

Freios ABS

In [44]:
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

**Exercício 2**
Considerando as duas listas abaixo E utilizando o ferramental apresentado acima, marque a alternativa com o código que possibilita a impressão dos nomes dos veículos com quilometragem abaixo de 20.000 km.

In [45]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [46]:
for nome, km in zip(nomes, kms):
    if(km < 20000):
        print(nome)

Passat
Crossfox
C4

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [47]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [48]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [49]:
#buscando o índice em uma lista usando o valor
carros.index('Passat')

1

In [50]:
#buscando na lista de valores o valor com o mesmo índice do Passat em carros
valores[carros.index('Passat')]

106161.94

In [51]:
#dicionários são coleções não ordenadas
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [52]:
type(dados)

dict

### Criando dicionários com *zip()*

In [53]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [54]:
#criando um dicionário a partir de duas listas, usando a função zip
dados = dict(zip(carros,valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [55]:
dados['Jetta Variant']

88078.64

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [56]:
'Passat' in dados

True

In [57]:
'Fusca' in dados

False

In [58]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [59]:
#retorna os pares de chave/valor
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [60]:
dados['DS5'] = 124549.07

In [61]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [62]:
del dados['Passat']

In [63]:
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

**Exercício**

In [64]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

Note que dados tem dois itens, onde a chave (key) é o nome do veículo e o valor (value) é um dicionário com informações sobre este veículo (ano, quilometragem, valor e acessórios). Nossa tarefa nesta atividade é aprender como acessar as informações de um dicionário dentro de outro dicionário.

Queremos o seguinte:

1) Testar se a chave acessorios existe no dicionário de informações do carro Crossfox (Resposta: False)

2) Testar se a chave acessorios existe no dicionário de informações do carro Passat (Resposta: True)

3) Obter o valor do carro Crossfox (Resposta: 25000)

4) Acessar o último acessório do carro Passat (Resposta: 'ABS')

Assinale a alternativa que mostra os códigos corretos para retornar e acessar as informações acima (Dica: utilize um notebook para verificar os códigos desta atividade):

In [65]:
'acessorios' in dados['Crossfox']

False

In [66]:
'acessorios' in dados['Passat']

True

In [67]:
dados['Crossfox']['valor']

25000

In [68]:
dados['Passat']['acessorios'][-1]

'ABS'

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [69]:
#gerando os dados novamente pq mudei completamente o dados anteriormente
dados = dict(zip(carros,valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [70]:
dados.update({'DS5': 124549.07})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [71]:
#podemos usar o método para atualizar um valor existente bem como incluir novos valores
dados.update({'Passat':106161.95, 'Fusca':150000})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

## *dict.copy()*

Cria uma cópia do dicionário.

In [72]:
dados_copy = dados.copy()

In [73]:
dados_copy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [74]:
del dados_copy['Fusca']

In [75]:
dados_copy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [76]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [77]:
dados_copy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [78]:
dados_copy.pop('Passat')

106161.95

In [79]:
dados_copy

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [80]:
#dados_copy.pop('Passat')

In [81]:
#podemos colocar uma mensagem de erro caso não localize o item no dicionário
dados_copy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [82]:
dados_copy

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

## *dict.clear()*

Remove todos os itens do dicionário.

In [83]:
dados_copy.clear()

In [84]:
dados_copy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [85]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [86]:
dados.keys()

dict_keys(['Jetta Variant', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [87]:
#usando o método keys como um iterados
for key in dados.keys():
  print(dados[key])

88078.64
106161.95
72832.16
124549.07
150000

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [88]:
dados.values()

dict_values([88078.64, 106161.95, 72832.16, 124549.07, 150000])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [89]:
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Passat', 106161.95), ('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 150000)])

In [90]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.95)
('Crossfox', 72832.16)
('DS5', 124549.07)
('Fusca', 150000)

In [91]:
for key,value in dados.items():
  print(key,value)

Jetta Variant 88078.64
Passat 106161.95
Crossfox 72832.16
DS5 124549.07
Fusca 150000

In [92]:
#usando com desempacotamento de tuplas
for key,value in dados.items():
  if(value >100000):
    print(key)

Passat
DS5
Fusca

**Exercício**

In [93]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

Selecione a alternativa que apresenta o código que imprime somente os nomes dos veículos com ano de fabricação maior ou igual a 2000.

In [94]:
for item in dados.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [95]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [96]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [97]:
soma = 0
for valor in dados.values():
  soma += valor
soma

267072.74

In [98]:
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [99]:
sum(dados.values())

267072.74

In [100]:
#usando a função de ajuda
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [101]:
#outro jeito de acessar a função de ajuda
print?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [102]:
def media():
  valor = (1 + 2 + 3)/3
  print(valor)

In [103]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [104]:
def media(number_1, number_2, number_3):
  valor = (number_1 + number_2+ number_3)/3
  print(valor)

In [105]:
media(10,20,30)

20.0

In [106]:
def media(lista):
  valor = sum(lista)/len(lista)
  print(valor)

In [107]:
resultado = media([1,2,3,4,5,6,7,8,9])

5.0

In [108]:
#como a função não retorna o valor, chamar esta variável não gera output
resultado

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [109]:
def media(lista):
  valor = sum(lista)/len(lista)
  return valor

In [110]:
media([1,2,3,4,5,6,7,8])

4.5

In [111]:
resultado = media([1,2,3,4,5,6,7,8])

In [112]:
#como usamos o return, a função agora retorna um resultado
resultado

4.5

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [113]:
def media(lista):
  valor = sum(lista)/len(lista)
  return (valor, len(lista))

In [114]:
media([1,2,3,4,5,6,7,8])

(4.5, 8)

In [115]:
#podemos atribuir a variáveis
resultado, n = media([1,2,3,4,5,6,7,8,9])

In [116]:
resultado

5.0

In [117]:
n

9

**Exercício**

In [118]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

 A estrutura a seguir é a definição de uma função que calcula as quilometragens médias anuais de cada veículo e retorna um dicionário com os nomes dos veículos como chaves e as quilometragens médias como valores:

In [119]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result.update({ item[0]: media })
    return result

In [120]:
km_media(dados,2019)

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}

In [121]:
#mudando a função para constar o valor da km_media em uma outra chave do dicionario

def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })
    return result

In [122]:
km_media(dados,2019)

{'Crossfox': {'ano': 2005, 'km': 35000, 'km_media': 2500.0},
 'DS5': {'ano': 2015, 'km': 17000, 'km_media': 4250.0},
 'Fusca': {'ano': 1979, 'km': 130000, 'km_media': 3250.0},
 'Jetta': {'ano': 2011, 'km': 56000, 'km_media': 7000.0},
 'Passat': {'ano': 1999, 'km': 62000, 'km_media': 3100.0}}

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [123]:
#importando a biblioteca
import pandas as pd

### Criando uma Series a partir de uma lista

In [124]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [125]:
s = pd.Series(carros)
s

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [126]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [127]:
#quando criamos um dataframe a partir de um dicionário, as chaves viram os rótulos das colunas
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [128]:
#mudando a ordem das colunas
dataset[['Nome', 'Ano', 'Zero_km', 'Quilometragem', 'Motor', 'Valor']]

            Nome   Ano  Zero_km  Quilometragem            Motor      Valor
0  Jetta Variant  2003    False        44410.0  Motor 4.0 Turbo   88078.64
1         Passat  1991    False         5712.0     Motor Diesel  106161.94
2       Crossfox  1990    False        37123.0  Motor Diesel V8   72832.16

### Criando um DataFrame a partir de um dicionário

In [129]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [130]:
#criando o dataset a partir de outra forma de dicionário
dataset = pd.DataFrame(dados)

In [131]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [158]:
#criando o DF usando o arquivo do curso, assumindo o índice como a primeira coluna do arquivo
dataset = pd.read_csv('db.csv', sep=';', index_col=0)
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

**Exercício**

In [159]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [160]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

In [161]:
#A propriedade T é uma forma de acessar o método transpose() do DataFrame.
carros = pd.DataFrame(km_media(dados, 2019)).T
carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [162]:
dataset['Valor'].head()

Nome
Jetta Variant        88078.64
Passat              106161.94
Crossfox             72832.16
DS5                 124549.07
Aston Martin DB4     92612.10
Name: Valor, dtype: float64

In [163]:
#um dataframe é um conjunto de Series
type(dataset['Valor'])

pandas.core.series.Series

In [164]:
#transformando uma series num dataframe, acrescentamos o segundo colchete
dataset[['Valor']].head()

                      Valor
Nome
Jetta Variant      88078.64
Passat            106161.94
Crossfox           72832.16
DS5               124549.07
Aston Martin DB4   92612.10

In [165]:
type(dataset[['Valor']].head())

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [166]:
dataset[0:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [167]:
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [168]:
#retornando mais de uma informação - precisamos da estrutura de Dataframe
dataset.loc[['Passat', 'DS5']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [169]:
#selecionando por linhas e colunas (usamos os rótulos para isso)
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']] #primeiro linha, depois coluna

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [170]:
#vendo todas as linhas
dataset.loc[:,['Motor', 'Valor']]

                                                        Motor      Valor
Nome
Jetta Variant                                 Motor 4.0 Turbo   88078.64
Passat                                           Motor Diesel  106161.94
Crossfox                                      Motor Diesel V8   72832.16
DS5                                           Motor 2.4 Turbo  124549.07
Aston Martin DB4                              Motor 2.4 Turbo   92612.10
Palio Weekend                                   Motor 1.8 16v   97497.73
A5                                            Motor 4.0 Turbo   56445.20
Série 3 Cabrio                                   Motor 1.0 8v  112310.44
Dodge Jorney                                    Motor 3.0 32v  120716.27
Carens                                  Motor 5.0 V8 Bi-Turbo   76566.49
Ford Edge                                     Motor Diesel V6   71647.59
Courier                                       Motor Diesel V8   73919.53
S-18                                                 Motor V6  112732.99
J5                                                   Motor V6   53183.38
F-Type Coupé                            Motor 5.0 V8 Bi-Turbo  127488.42
RAM                                           Motor Diesel V8   59910.40
Série 1                                         Motor 3.0 32v   61118.59
A3                                               Motor 1.0 8v   88552.39
XC90                                             Motor 1.0 8v   62696.69
RS 3 Sportback                                  Motor 3.0 32v  101726.30
Pajero Sport                                     Motor 1.0 8v  106147.38
Série 1 M                                            Motor V8   94564.40
Lamborghini Obvious                           Motor Diesel V6  133529.84
Effa Hafei Picape Baú                            Motor Diesel  125684.65
Lamborghini Murciélago                  Motor 5.0 V8 Bi-Turbo  121596.21
Up!                                           Motor Diesel V6   71367.10
Fiesta Rocam Sedan                            Motor 4.0 Turbo   95347.75
Sandero Stepway                                 Motor 3.0 32v  105432.84
Cayman S                                        Motor 3.0 32v   57045.27
V40                                           Motor 4.0 Turbo  120432.70
Classe SLS AMG                                   Motor 1.0 8v   70707.20
Gol G4                                          Motor 2.0 16v   69105.18
Linea                                            Motor 1.0 8v   59358.69
Ford F100                                       Motor 2.0 16v   65955.40
J2                                                   Motor V8   60017.03
Aston Martin DBS                                     Motor V8  118909.52
Pajero TR4                                    Motor 2.4 Turbo   51606.59
Polo Sedan                                           Motor V6  123281.87
California                                       Motor 1.0 8v   69770.18
S60                                           Motor 2.4 Turbo  102609.54
Tucson                                          Motor 2.0 16v   67997.19
HB20                                                 Motor V6  135235.29
Optima                                          Motor 1.8 16v   86641.34
Logan                                         Motor 4.0 Turbo  136818.39
Range Rover Vogue                                Motor 1.0 8v  117626.73
Sonata                                  Motor 5.0 V8 Bi-Turbo   56208.70
Ford New Fiesta Sedan                           Motor 3.0 32v   84222.65
Série 5 Gran Turismo                          Motor 4.0 Turbo   90781.65
CR-V                                          Motor Diesel V8   64701.10
Ford EcoSport                                    Motor 1.0 8v  126350.49
Versa                                           Motor 3.0 32v  148152.89
Classe E                                         Motor 1.0 8v  132298.83
Carnival                                             Motor V8  137627.63
Aston Martin V8 Vantage Roadster              Motor 2.4 Turbo   80422.71
Hoggar                                  Motor 5.0 V8 Bi-Turbo   56373.99
A1                                      Motor 5.0 V8 Bi-Turbo   70846.03
Aston Martin DB7 Vantage                             Motor V6  128694.23
CLA                                              Motor 1.0 8v  133329.19
Accord                                               Motor V8  131961.43
EXTRA 103EX                                     Motor 2.0 16v  112033.27
Sorento                                          Motor Diesel   81399.35
Tiggo                                           Motor 3.0 32v   97163.10
New Fiesta Hatch                                 Motor Diesel   66007.16
Jeep Renegade                           Motor 5.0 V8 Bi-Turbo  128776.22
Lamborghini Ankonian                            Motor 2.0 16v  142623.02
Space Cross                             Motor 5.0 V8 Bi-Turbo  136930.13
Touareg                                              Motor V8   66526.61
Classe M                                         Motor 1.0 8v  114154.87
Lancer Evolution X                            Motor Diesel V6  142392.75
Kangoo Express                                   Motor Diesel  146716.91
SW4                                           Motor Diesel V6  122485.68
Cadillac ELR                                     Motor 1.0 8v   97951.03
Doblò                                           Motor 1.8 16v   78283.49
Lamborghini Egoista                             Motor 3.0 32v   83434.04
Fit                                              Motor Diesel   77836.23
C5                                              Motor 2.0 16v   60813.92
Celer Hatch                                          Motor V8   91353.86
HB20S                                                Motor V8  116281.21
Cielo Hatch                                      Motor Diesel  145197.70
Livina                                          Motor 2.0 16v   50742.10
Ducato                                  Motor 5.0 V8 Bi-Turbo   73033.53
March                                                Motor V6   54332.87
Cadillac XTS sedan                            Motor Diesel V6   52207.45
Lamborghini Centenario                               Motor V6   63578.50
Hilux                                   Motor 5.0 V8 Bi-Turbo   64507.72
Grand Siena                                   Motor Diesel V8  115075.59
Symbol                                           Motor Diesel  133030.60
Aston Martin V12 GT Zagato                    Motor 4.0 Turbo  141591.86
Fusion                                          Motor 1.8 16v  100380.28
A4 Sedan                                         Motor Diesel   96369.04
Xsara Picasso                                   Motor 2.0 16v  142603.84
207 SW                                          Motor 3.0 32v  117709.67
Star                                                 Motor V6  102241.54
Doblò Cargo                                     Motor 3.0 32v   96065.38
Cadillac CTS                                    Motor 1.8 16v   53894.61
Cayenne                                          Motor 1.0 8v  123911.78
Fox                                           Motor 4.0 Turbo  101996.35
Tiida Hatch                                   Motor Diesel V6   83431.66
Dodge Charger                                 Motor 2.4 Turbo  122975.63
Face                                                 Motor V8   93227.73
Prius                                           Motor 3.0 32v   58762.65
Idea                                                 Motor V6  139549.67
A8                                              Motor 2.0 16v  122016.42
Série 1 Cabrio                                  Motor 3.0 32v   72731.98
Edge                                                 Motor V6   88416.54
Cadillac ATS sedan                              Motor 1.8 16v   73873.42
Lamborghini Asterion LPI 910-4          Motor 5.0 V8 Bi-Turbo   70709.34
Frontier                                             Motor V8  115306.50
Série 3 Sedã                                    Motor 3.0 32v   55924.63
Lamborghini LM002                               Motor 1.8 16v   85052.26
Cadillac XLR                                  Motor Diesel V8   56646.34
A4 Avant                                         Motor Diesel  138946.88
EcoSport                                      Motor 4.0 Turbo  108256.72
J3                                              Motor 1.8 16v   58979.30
Q3                                              Motor 3.0 32v  114727.68
Aston Martin V8 Vantage                              Motor V8  139661.48
Z4 Roadster                                     Motor 3.0 32v   80382.24
Lamborghini Ferruccio                           Motor 3.0 32v  149157.17
Ford Ka+                                        Motor 1.8 16v   87830.41
Silver Shadow                                    Motor Diesel  143568.22
Classe C 63 AMG Touring                       Motor Diesel V8  138171.85
Discovery 4                                   Motor 4.0 Turbo  115784.95
Veloster                                      Motor Diesel V8  146508.99
Classe C                                      Motor Diesel V6  137670.23
Camry                                            Motor Diesel  138597.27
C5 Tourer                                     Motor Diesel V6  147627.81
R8 GT                                         Motor 4.0 Turbo   62999.02
Bongo                                         Motor Diesel V8   91242.44
ASX                                           Motor Diesel V8  149489.92
Cadillac SRX                            Motor 5.0 V8 Bi-Turbo   63529.95
Classe CL                                            Motor V8   58525.41
500 Abarth                                           Motor V6   90345.05
Aston Martin Cygnet                     Motor 5.0 V8 Bi-Turbo  147770.87
Cadillac STS                                  Motor 4.0 Turbo  106617.71
Aston Martin DB9                                Motor 1.8 16v  104929.88
NX 200t                                       Motor 2.4 Turbo  100712.45
Aston Martin One-77                                  Motor V6  141982.93
Lamborghini Veneno                              Motor 3.0 32v  104038.79
Sentra                                          Motor 2.0 16v   88501.54
Jumper                                        Motor 2.4 Turbo   79782.02
i30                                             Motor 1.8 16v   86224.10
X6                                            Motor Diesel V6  103596.18
Voyage                                  Motor 5.0 V8 Bi-Turbo  148996.47
Phantom I Phantom II                            Motor 1.8 16v   60948.01
Passat Variant                                   Motor 1.0 8v   69535.44
Clio                                             Motor Diesel  111130.33
Classe G                                      Motor Diesel V6   65847.69
Silver Ghost                                    Motor 1.8 16v   78096.06
Série 3 M3 Coupé                                 Motor Diesel   69219.89
Gallardo LP 560 – 4                              Motor Diesel  144118.91
Freelander 2                                  Motor Diesel V6   77397.05
Grand Cherokee                          Motor 5.0 V8 Bi-Turbo   68974.25
Aston Martin DBR9                             Motor 4.0 Turbo  125231.30
Soul                                    Motor 5.0 V8 Bi-Turbo   85501.12
Cadillac BLS                                         Motor V8  137116.21
RX 350                                               Motor V6  138823.81
Cayman                                          Motor 3.0 32v  117961.95
Chana Utility                                    Motor Diesel  132662.32
308 CC                                        Motor 4.0 Turbo  146405.79
L200 Triton                                   Motor Diesel V8   81999.21
Jetta                                   Motor 5.0 V8 Bi-Turbo  140934.60
C4 Lounge                                            Motor V8   82366.81
C4 Pallas                                        Motor 1.0 8v   70424.11
Equus                                           Motor 3.0 32v   53620.31
Classe GL                                       Motor 3.0 32v   73389.18
Range Rover Evoque                              Motor 2.0 16v  111618.12
Cherokee                                      Motor 4.0 Turbo  112187.37
Punto                                         Motor 4.0 Turbo  120812.57
Grand Tour                                      Motor 3.0 32v  116031.04
Fluence                                       Motor Diesel V6  125398.11
Effa Hafei Picape Cabine Simples                 Motor 1.0 8v   76101.47
Durango                                         Motor 2.0 16v   75263.24
Boxster                                       Motor Diesel V8  147387.76
TT Roadster                                      Motor Diesel   85311.40
Lamborghini Jalpa                               Motor 1.8 16v   54388.11
Classe SLK                                    Motor 4.0 Turbo  124156.65
Golf                                             Motor 1.0 8v  146203.34
C3 Picasso                                      Motor 3.0 32v   56453.94
V50                                             Motor 2.0 16v   68873.79
Picanto                                       Motor 4.0 Turbo   91667.61
Cadenza                                       Motor Diesel V6   93776.52
Etios Sedã                              Motor 5.0 V8 Bi-Turbo   66433.82
Alsvin                                        Motor Diesel V8  109059.27
Cadillac ATS                                  Motor Diesel V6  122069.97
Série 3 M3 Sedã                               Motor Diesel V6  113090.32
Classe S                                        Motor 3.0 32v   89401.10
T6                                              Motor 3.0 32v   56842.79
Aston Martin DB7                              Motor Diesel V8  146676.71
207 Sedan                                     Motor 4.0 Turbo   89511.96
Aston Martin Virage                              Motor Diesel   97290.18
Azera                                           Motor 1.8 16v  120673.56
Vantage Volante                               Motor Diesel V8  114434.94
Siena EL                                             Motor V8  139546.69
Palio Adventure                               Motor Diesel V8   95078.16
HB20X                                                Motor V8   68091.77
HR                                      Motor 5.0 V8 Bi-Turbo   61496.97
Cadillac STS V-Series                           Motor 2.0 16v  139669.30
Série 1 Coupé                                    Motor 1.0 8v   80661.39
SpaceFox                                             Motor V8   61783.65
C30                                              Motor 1.0 8v   52805.91
J3 Turin                                             Motor V6  127024.75
Classe B                                      Motor Diesel V8  135543.00
Parati                                        Motor Diesel V8  121708.73
Cadillac CTS V-Series                         Motor 4.0 Turbo  107342.68
Sedan                                                Motor V8   57888.10
Classe CLS 63 AMG                             Motor Diesel V6  118161.48
Aircross                                         Motor 1.0 8v  142499.06
Aston Martin V12 Vantage                             Motor V8  128396.11
Sandero                                          Motor Diesel  112350.61
New Fiesta                              Motor 5.0 V8 Bi-Turbo  124661.38
XKR                                              Motor Diesel   54263.16
X5                                               Motor Diesel   62041.32
Cadillac DTS                                    Motor 1.8 16v  129296.11
Pajero Dakar                                  Motor 4.0 Turbo   60998.33
Classe A                                         Motor 1.0 8v   58008.50
Ford Focus Fastback                           Motor 4.0 Turbo   82304.19
Partner                                       Motor 2.4 Turbo  114531.74
R8                                                   Motor V6  128565.61
Aston Martin DBS Volante                      Motor 4.0 Turbo  126488.26
Mohave                                        Motor Diesel V6  119074.55
Fusca                                           Motor 3.0 32v  130238.04
Chana Family                                         Motor V8  115760.17
XC40                                          Motor 2.4 Turbo  121248.00
Phantom I Jonckheere Aerodynamic Coupe          Motor 1.8 16v   98156.35
Boxer                                                Motor V6  112146.80
Chana Cargo                                     Motor 2.0 16v  102729.63
Dodge Dakota                                     Motor Diesel  141083.35
X1                                            Motor Diesel V8  102968.76
GLA                                              Motor 1.0 8v   76310.01
Range Rover Sport                                Motor 1.0 8v  120481.74
DS3                                             Motor 1.8 16v   54559.18
Veracruz                                      Motor Diesel V8   92957.64
Cadillac CTS coupe, sedan, and wagon                 Motor V8  127810.06
i30 CW                                           Motor Diesel   73311.75
Phantom III                                   Motor Diesel V6   65138.03
A3 Sedan                                             Motor V6   90141.47
Aston Martin DB9 Volante                        Motor 2.0 16v   71160.36
Série 7 Sedã                                     Motor Diesel   67539.79
Lamborghini Reventón                          Motor 4.0 Turbo   67664.86
Grand Livina                                    Motor 2.0 16v   68652.16
V60                                              Motor Diesel  114728.74
Effa Hafei Picape Cabine Dupla                       Motor V6  141645.08
Benni Mini                                           Motor V8  126247.84
Uno                                           Motor Diesel V6  128852.21
L200 Savana                                     Motor 2.0 16v  132384.76
Santa Fe                                        Motor 3.0 32v  129415.33
RS5                                                  Motor V6   89536.82
Cerato                                               Motor V6   87975.30
XC60                                          Motor 4.0 Turbo   77675.79
LS 460L                                       Motor Diesel V8   58881.67
Lamborghini Sesto Elemento                           Motor V8   55081.99
Lamborghini Huracán                                  Motor V8  118826.44
A7                                               Motor 1.0 8v  137627.62
Phantom 2013                                         Motor V8   51759.58
Cadillac Ciel concept                                Motor V8   51667.06
Classe GLK                              Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                                 Motor Diesel  122110.90
Macan                                         Motor Diesel V6   90381.47

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [171]:
dataset.iloc[1]

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [172]:
#retornando como Dataframe
dataset.iloc[[1]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [173]:
#funciona como seleção em listas, o último índice não é mostrado no output
dataset.iloc[1:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [174]:
#definindo algumas colunas (não precisa ser na ordem correta) para mostrar as linhas
dataset.iloc[1:4, [0,5,2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

**Exercício**

In [175]:
dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dados = pd.DataFrame(dados)

Assinale a alternativa que contenha o código que seleciona somente as informações de Nome, Ano, Quilometragem e Valor dos carros Passat e Crossfox.

In [176]:
dados.head()

       Nome            Motor   Ano  Quilometragem  Zero_km     Valor
0     Jetta  Motor 4.0 Turbo  2019            0.0     True   88000.0
1    Passat     Motor Diesel  2003         5712.0    False  106000.0
2  Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
3       DS5        Motor 2.0  2019            0.0     True   89000.0
4     Fusca        Motor 1.6  1990       120000.0    False   32000.0

In [177]:
dados.loc[[1,2], ['Nome', 'Ano', 'Quilometragem', 'Valor']]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [180]:
dados[['Nome', 'Ano', 'Quilometragem', 'Valor']][1:3]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

**Exercício**
Note que utilizamos os nomes dos veículos como índice do DataFrame. Selecione as alternativas corretas que têm como resultado o seguinte DataFrame:

Out [1]:

||Motor|	Valor|
|---|---|---|
|Passat|	Motor Diesel|	106000.0|
|DS5|	Motor 2.0	|89000.0|

In [181]:
dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dados = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [182]:
dados.head()

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5             Motor 2.0  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

In [183]:
#com o .loc passamos os rótulos
dados.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [185]:
#com o iloc usamos os índices
dados.iloc[[1, 3], [0, -1]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

# 5.3 Queries com DataFrames

In [186]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [190]:
#consulta que traga todos os registros com um tipo específico de Motor - retorna uma series booleana
select = dataset.Motor == 'Motor Diesel'

In [191]:
type(select)

pandas.core.series.Series

In [193]:
#usando a condição numa variável
dataset[select]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Freios ABS', 'Câmera de estacionamento', 'Câ...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Câmera de estacionamento', '4 X 4', 'Travas ...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Teto panorâmico', '4 X 4', 'Bancos de couro'...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimídia', 'Ar condiciona...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Câmbio automático', 'Freios ABS', '...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Bancos de couro', 'Sensor de chuva', 'Ar con...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Freios ABS', 'Teto panorâmico', 'Central mul...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Teto panorâmico', 'Câmb...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Controle de tração', 'Ar condicionado', 'Tra...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Controle de tração', 'Piloto automático', 'T...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Controle de tração', 'Sensor de estacionamen...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de chuva', 'Vidros elétricos', 'Contr...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Rodas de liga', 'Sensor crepuscular', 'Ar co...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90

In [194]:
#o & comercial funciona como o and. Podemos fazer várias queries da mesma maneira. As queries retornam series booleanas
#o | indicaria o or
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

### Utilizando o método query

O método query() aceita as duas formas de utilização dos operadores lógicos. No caso do operador lógico OU, temos o or e o caractere |. Para o operador lógico E, temos o and e o caractere &.

In [196]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

**Exercício**

Queremos retornar o DataFrame abaixo:

Out [1]:

||Motor	|Ano|	Quilometragem|	Zero_km|	Valor|
|---|---|---|---|---|---|
|Jetta|	Motor 4.0 Turbo|	2019|	0.0|	True|	88000.0|
|Passat|	Motor Diesel|	2003|	5712.0|	False|	106000.0|
|DS5|	Motor Diesel|	2019|	0.0	|True|	89000.0|

In [197]:
dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dados = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [198]:
dados.query('Motor == "Motor 4.0 Turbo" or Motor == "Motor Diesel"')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [200]:
dados.query('Motor == "Motor Diesel" or Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

# 5.4 Iterando com DataFrames

In [201]:
for item in dataset:
  print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [204]:
#método iterrows (itera linhas)
#funciona como um zip
#usando o método para incluir uma coluna com a quilometragem média
for index, row in dataset.iterrows():
  if(2019 - row['Ano'] != 0):
    dataset.loc[index, 'Km_media'] = row['Quilometragem']/ (2019 - row['Ano']) #criando a coluna durante o FOR
  else:
    dataset.loc[index, 'Km_media'] = 0
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

###  Há também os métodos **items ()** que Itera pelas colunas do DataFrame, utilizando uma tupla, onde o primeiro item é o nome da coluna e o segundo é uma Series, com todo o conteúdo da coluna e o método **itertuples()** que itera pelas linhas do DataFrame, utilizando um tipo de tupla nomeada com o conteúdo de cada linha do DataFrame.

# 5.5 Tratamento de dados

In [205]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

In [206]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 24.4+ KB

In [208]:
#selecionar informações nulas
dataset[dataset.Quilometragem.isna()]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
Lamborghini Murciélago,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['Freios ABS', 'Câmbio automático', 'Ar condic...",121596.21,0.0
Up!,Motor Diesel V6,2019,NaN,True,"['Sensor de estacionamento', 'Vidros elétricos...",71367.10,0.0
Sandero Stepway,Motor 3.0 32v,2019,NaN,True,"['Freios ABS', 'Ar condicionado', 'Teto panorâ...",105432.84,0.0
Pajero TR4,Motor 2.4 Turbo,2019,NaN,True,"['Controle de tração', 'Bancos de couro', 'Câm...",51606.59,0.0
Polo Sedan,Motor V6,2019,NaN,True,"['Sensor de chuva', 'Sensor crepuscular', 'Ar ...",123281.87,0.0
S60,Motor 2.4 Turbo,2019,NaN,True,"['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...",102609.54,0.0
Optima,Motor 1.8 16v,2019,NaN,True,"['Central multimídia', 'Ar condicionado', 'Tet...",86641.34,0.0
Range Rover Vogue,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Vidros elétricos', 'Rodas de liga',...",117626.73,0.0
CR-V,Motor Diesel V8,2019,NaN,True,"['Câmbio automático', 'Central multimídia', 'V...",64701.10,0.0
CLA,Motor 1.0 8v,2019,NaN,True,"['Central multimídia', 'Sensor de chuva', 'Con...",133329.19,0.0
Accord,Motor V8,2019,NaN,True,"['Sensor de estacionamento', 'Ar condicionado'...",131961.43,0.0
EXTRA 103EX,Motor 2.0 16v,2019,NaN,True,"['Sensor de estacionamento', 'Central multimíd...",112033.27,0.0
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35,0.0
Tiggo,Motor 3.0 32v,2019,NaN,True,"['Câmera de estacionamento', 'Freios ABS', 'Pi...",97163.10,0.0
Touareg,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Piloto automátic...",66526.61,0.0
Lancer Evolution X,Motor Diesel V6,2019,NaN,True,"['Vidros elétricos', 'Câmbio automático', 'Con...",142392.75,0.0
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70,0.0
Livina,Motor 2.0 16v,2019,NaN,True,"['Sensor crepuscular', 'Câmera de estacionamen...",50742.10,0.0
Hilux,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Teto panorâmic...",64507.72,0.0
Grand Siena,Motor Diesel V8,2019,NaN,True,"['Bancos de couro', 'Painel digital', 'Sensor ...",115075.59,0.0
Fusion,Motor 1.8 16v,2019,NaN,True,"['Controle de tração', 'Câmbio automático', 'F...",100380.28,0.0
Face,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Vidros elétricos...",93227.73,0.0
A8,Motor 2.0 16v,2019,NaN,True,"['Painel digital', 'Teto panorâmico', 'Piloto ...",122016.42,0.0
Q3,Motor 3.0 32v,2019,NaN,True,"['Controle de estabilidade', 'Bancos de couro'...",114727.68,0.0
Z4 Roadster,Motor 3.0 32v,2019,NaN,True,"['Central multimídia', 'Câmbio automático', 'T...",80382.24,0.0
Lamborghini Ferruccio,Motor 3.0 32v,2019,NaN,True,"['Vidros elétricos', 'Piloto automático', 'Tet...",149157.17,0.0
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27,0.0
R8 GT,Motor 4.0 Turbo,2019,NaN,True,"['Rodas de liga', 'Câmbio automático', 'Sensor...",62999.02,0.0
Classe CL,Motor V8,2019,NaN,True,"['Central multimídia', 'Câmbio automático', '4...",58525.41,0.0
Aston Martin Cygnet,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['Painel digital', 'Ar condicionado', 'Sensor ...",147770.87,0.0
Lamborghini Veneno,Motor 3.0 32v,2019,NaN,True,"['4 X 4', 'Sensor de estacionamento', 'Câmbio ...",104038.79,0.0
i30,Motor 1.8 16v,2019,NaN,True,"['Câmbio automático', 'Controle de estabilidad...",86224.10,0.0
Voyage,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['Ar condicionado', 'Sensor de estacionamento'...",148996.47,0.0
Phantom I Phantom II,Motor 1.8 16v,2019,NaN,True,"['Piloto automático', 'Freios ABS', 'Painel di...",60948.01,0.0
308 CC,Motor 4.0 Turbo,2019,NaN,True,"['Câmera de estacionamento', 'Bancos de couro'...",146405.79,0.0
L200 Triton,Motor Diesel V8,2019,NaN,True,"['Vidros elétricos', 'Ar condicionado', 'Paine...",81999.21,0.0
Classe SLK,Motor 4.0 Turbo,2019,NaN,True,"['4 X 4', 'Sensor de estacionamento', 'Control...",124156.65,0.0
C3 Picasso,Motor 3.0 32v,2019,NaN,True,"['Teto panorâmico', 'Sensor crepuscular', 'Sen...",56453.94,0.0
Classe S,Motor 3.0 32v,2019,NaN,True,"['Controle de tração', 'Teto panorâmico', 'Câm...",89401.10,0.0
T6,Motor 3.0 32v,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",56842.79,0.0
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18,0.0
Vantage Volante,Motor Diesel V8,2019,NaN,True,"['Freios ABS', 'Controle de tração', 'Central ...",114434.94,0.0
J3 Turin,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Câmera de estacionamen...",127024.75,0.0
Classe B,Motor Diesel V8,2019,NaN,True,"['4 X 4', 'Bancos de couro', 'Sensor crepuscul...",135543.00,0.0
Parati,Motor Diesel V8,2019,NaN,True,"['Sensor de estacionamento', 'Piloto automátic...",121708.73,0.0
Sedan,Motor V8,2019,NaN,True,"['Bancos de couro', 'Central multimídia', 'Fre...",57888.10,0.0
Aston Martin V12 Vantage,Motor V8,2019,NaN,True,"['Bancos de couro', 'Central multimídia', 'Con...",128396.11,0.0
Partner,Motor 2.4 Turbo,2019,NaN,True,"['Central multimídia', 'Controle de tração', '...",114531.74,0.0
Chana Family,Motor V8,2019,NaN,True,"['Piloto automático', 'Teto panorâmico', 'Sens...",115760.17,0.0
A3 Sedan,Motor V6,2019,NaN,True,"['Ar condicionado', 'Sensor de chuva', 'Travas...",90141.47,0.0
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79,0.0
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [209]:
#substituindo nulos
dataset.fillna(0, inplace=True)

In [211]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

In [212]:
dataset.query('Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
Lamborghini Murciélago,Motor 5.0 V8 Bi-Turbo,2019,0.0,True,"['Freios ABS', 'Câmbio automático', 'Ar condic...",121596.21,0.0
Up!,Motor Diesel V6,2019,0.0,True,"['Sensor de estacionamento', 'Vidros elétricos...",71367.10,0.0
Sandero Stepway,Motor 3.0 32v,2019,0.0,True,"['Freios ABS', 'Ar condicionado', 'Teto panorâ...",105432.84,0.0
Pajero TR4,Motor 2.4 Turbo,2019,0.0,True,"['Controle de tração', 'Bancos de couro', 'Câm...",51606.59,0.0
Polo Sedan,Motor V6,2019,0.0,True,"['Sensor de chuva', 'Sensor crepuscular', 'Ar ...",123281.87,0.0
S60,Motor 2.4 Turbo,2019,0.0,True,"['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...",102609.54,0.0
Optima,Motor 1.8 16v,2019,0.0,True,"['Central multimídia', 'Ar condicionado', 'Tet...",86641.34,0.0
Range Rover Vogue,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Vidros elétricos', 'Rodas de liga',...",117626.73,0.0
CR-V,Motor Diesel V8,2019,0.0,True,"['Câmbio automático', 'Central multimídia', 'V...",64701.10,0.0
CLA,Motor 1.0 8v,2019,0.0,True,"['Central multimídia', 'Sensor de chuva', 'Con...",133329.19,0.0
Accord,Motor V8,2019,0.0,True,"['Sensor de estacionamento', 'Ar condicionado'...",131961.43,0.0
EXTRA 103EX,Motor 2.0 16v,2019,0.0,True,"['Sensor de estacionamento', 'Central multimíd...",112033.27,0.0
Sorento,Motor Diesel,2019,0.0,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35,0.0
Tiggo,Motor 3.0 32v,2019,0.0,True,"['Câmera de estacionamento', 'Freios ABS', 'Pi...",97163.10,0.0
Touareg,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Piloto automátic...",66526.61,0.0
Lancer Evolution X,Motor Diesel V6,2019,0.0,True,"['Vidros elétricos', 'Câmbio automático', 'Con...",142392.75,0.0
Cielo Hatch,Motor Diesel,2019,0.0,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70,0.0
Livina,Motor 2.0 16v,2019,0.0,True,"['Sensor crepuscular', 'Câmera de estacionamen...",50742.10,0.0
Hilux,Motor 5.0 V8 Bi-Turbo,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Teto panorâmic...",64507.72,0.0
Grand Siena,Motor Diesel V8,2019,0.0,True,"['Bancos de couro', 'Painel digital', 'Sensor ...",115075.59,0.0
Fusion,Motor 1.8 16v,2019,0.0,True,"['Controle de tração', 'Câmbio automático', 'F...",100380.28,0.0
Face,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Vidros elétricos...",93227.73,0.0
A8,Motor 2.0 16v,2019,0.0,True,"['Painel digital', 'Teto panorâmico', 'Piloto ...",122016.42,0.0
Q3,Motor 3.0 32v,2019,0.0,True,"['Controle de estabilidade', 'Bancos de couro'...",114727.68,0.0
Z4 Roadster,Motor 3.0 32v,2019,0.0,True,"['Central multimídia', 'Câmbio automático', 'T...",80382.24,0.0
Lamborghini Ferruccio,Motor 3.0 32v,2019,0.0,True,"['Vidros elétricos', 'Piloto automático', 'Tet...",149157.17,0.0
Camry,Motor Diesel,2019,0.0,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27,0.0
R8 GT,Motor 4.0 Turbo,2019,0.0,True,"['Rodas de liga', 'Câmbio automático', 'Sensor...",62999.02,0.0
Classe CL,Motor V8,2019,0.0,True,"['Central multimídia', 'Câmbio automático', '4...",58525.41,0.0
Aston Martin Cygnet,Motor 5.0 V8 Bi-Turbo,2019,0.0,True,"['Painel digital', 'Ar condicionado', 'Sensor ...",147770.87,0.0
Lamborghini Veneno,Motor 3.0 32v,2019,0.0,True,"['4 X 4', 'Sensor de estacionamento', 'Câmbio ...",104038.79,0.0
i30,Motor 1.8 16v,2019,0.0,True,"['Câmbio automático', 'Controle de estabilidad...",86224.10,0.0
Voyage,Motor 5.0 V8 Bi-Turbo,2019,0.0,True,"['Ar condicionado', 'Sensor de estacionamento'...",148996.47,0.0
Phantom I Phantom II,Motor 1.8 16v,2019,0.0,True,"['Piloto automático', 'Freios ABS', 'Painel di...",60948.01,0.0
308 CC,Motor 4.0 Turbo,2019,0.0,True,"['Câmera de estacionamento', 'Bancos de couro'...",146405.79,0.0
L200 Triton,Motor Diesel V8,2019,0.0,True,"['Vidros elétricos', 'Ar condicionado', 'Paine...",81999.21,0.0
Classe SLK,Motor 4.0 Turbo,2019,0.0,True,"['4 X 4', 'Sensor de estacionamento', 'Control...",124156.65,0.0
C3 Picasso,Motor 3.0 32v,2019,0.0,True,"['Teto panorâmico', 'Sensor crepuscular', 'Sen...",56453.94,0.0
Classe S,Motor 3.0 32v,2019,0.0,True,"['Controle de tração', 'Teto panorâmico', 'Câm...",89401.10,0.0
T6,Motor 3.0 32v,2019,0.0,True,"['Sensor de chuva', 'Câmera de estacionamento'...",56842.79,0.0
Aston Martin Virage,Motor Diesel,2019,0.0,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18,0.0
Vantage Volante,Motor Diesel V8,2019,0.0,True,"['Freios ABS', 'Controle de tração', 'Central ...",114434.94,0.0
J3 Turin,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Câmera de estacionamen...",127024.75,0.0
Classe B,Motor Diesel V8,2019,0.0,True,"['4 X 4', 'Bancos de couro', 'Sensor crepuscul...",135543.00,0.0
Parati,Motor Diesel V8,2019,0.0,True,"['Sensor de estacionamento', 'Piloto automátic...",121708.73,0.0
Sedan,Motor V8,2019,0.0,True,"['Bancos de couro', 'Central multimídia', 'Fre...",57888.10,0.0
Aston Martin V12 Vantage,Motor V8,2019,0.0,True,"['Bancos de couro', 'Central multimídia', 'Con...",128396.11,0.0
Partner,Motor 2.4 Turbo,2019,0.0,True,"['Central multimídia', 'Controle de tração', '...",114531.74,0.0
Chana Family,Motor V8,2019,0.0,True,"['Piloto automático', 'Teto panorâmico', 'Sens...",115760.17,0.0
A3 Sedan,Motor V6,2019,0.0,True,"['Ar condicionado', 'Sensor de chuva', 'Travas...",90141.47,0.0
Série 7 Sedã,Motor Diesel,2019,0.0,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79,0.0
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [214]:
#refazendo o dataset
dataset = pd.read_csv('db.csv', sep=';')

In [216]:
#caso eu quisesse excluir os registros faltantes
dataset.dropna(subset = ['Quilometragem'], inplace=True)

In [217]:
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73