In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('fsdafdsfsfsdafsdasfsdafsdafsdfsadfsdafsad'))
s

0     f
1     s
2     d
3     a
4     f
5     d
6     s
7     f
8     s
9     f
10    s
11    d
12    a
13    f
14    s
15    d
16    a
17    s
18    f
19    s
20    d
21    a
22    f
23    s
24    d
25    a
26    f
27    s
28    d
29    f
30    s
31    a
32    d
33    f
34    s
35    d
36    a
37    f
38    s
39    a
40    d
dtype: object

In [5]:
s.unique()

array(['f', 's', 'd', 'a'], dtype=object)

In [6]:
#verificando a frequencia de cada valor
s.value_counts()

s    12
f    11
d    10
a     8
dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [8]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [9]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [10]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64