In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [3]:
#1 e 2 quartos
#3 e 4 quartos
#5 e 6 quartos
#7 quartos ou mais

In [4]:
#limites entre as faixas
classes = [0,2,4,6,999]

In [5]:
#criando um DF separando pelas classes
quartos = pd.cut(dados.Quartos, classes)

In [6]:
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
            ...
19826    (0.0, 2.0]
19827    (0.0, 2.0]
19828    (0.0, 2.0]
19829    (0.0, 2.0]
19830           NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 999]]

In [7]:
#parenteses significa que o valor não entra, o colchete informa que o valor entra no cálculo
pd.value_counts(quartos)

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 999]       36
Name: Quartos, dtype: int64

In [8]:
#criando labels
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [12]:
#incluindo os rótulos na seleção e incluindo o menor valor
quartos = pd.cut(dados.Quartos, classes, labels = labels, include_lowest= True)

In [13]:
pd.value_counts(quartos)

1 e 2 quartos        11231
3 e 4 quartos         8094
5 e 6 quartos          470
7 quartos ou mais       36
Name: Quartos, dtype: int64

###### 1) A função cut() é uma ferramenta do pandas que auxilia na criação distribuições de frequências.
###### 2) É possível criar labels para as classes criadas pela função cut().
###### 3) A função cut() permite que sejam especificados os limites de cada classe.