In [1]:
import pandas as pd

In [2]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, 0.7]
s = pd.Series(data)

In [3]:
s

0    0.50
1     NaN
2     NaN
3    0.52
4    0.54
5     NaN
6     NaN
7    0.59
8    0.60
9    0.70
dtype: float64

In [4]:
s.fillna(0) # preenche com zeros

0    0.50
1    0.00
2    0.00
3    0.52
4    0.54
5    0.00
6    0.00
7    0.59
8    0.60
9    0.70
dtype: float64

In [5]:
s.fillna(method = 'ffill') #preenche com o último valor válido antes do valor nulo

0    0.50
1    0.50
2    0.50
3    0.52
4    0.54
5    0.54
6    0.54
7    0.59
8    0.60
9    0.70
dtype: float64

In [6]:
s.fillna(method = 'bfill') #preenche com o próximo valor válido (o contrário do método ffill)

0    0.50
1    0.52
2    0.52
3    0.52
4    0.54
5    0.59
6    0.59
7    0.59
8    0.60
9    0.70
dtype: float64

In [7]:
s.fillna(s.mean()) # preenche os valores nulos com a média

0    0.500
1    0.575
2    0.575
3    0.520
4    0.540
5    0.575
6    0.575
7    0.590
8    0.600
9    0.700
dtype: float64

In [8]:
s.fillna(method = 'ffill', limit = 1) #altera apenas até a quantidade do limite (um None por valor válido)

0    0.50
1    0.50
2     NaN
3    0.52
4    0.54
5    0.54
6     NaN
7    0.59
8    0.60
9    0.70
dtype: float64

In [9]:
s1 = s.fillna(method = 'ffill', limit = 1)

In [10]:
s1.fillna(method ='bfill', limit=1) 
#para a série com ffill, preenche com o bfill na prática preenchendo um com o valor de cima e
# outro com o valor de baixo

0    0.50
1    0.50
2    0.52
3    0.52
4    0.54
5    0.54
6    0.59
7    0.59
8    0.60
9    0.70
dtype: float64