In [1]:
import pandas as pd

In [2]:
data = [[1,2,3], [4,5,6], [7,8,9]]

In [3]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
#criando uma list
list('321')

['3', '2', '1']

In [8]:
#incluindo index e columns como listas (ao contrário)
df = pd.DataFrame(data, list('321'), list('zyx'))
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [10]:
#organizando o índice
df.sort_index(inplace=True)
df

   z  y  x
1  7  8  9
2  4  5  6
3  1  2  3

In [11]:
#organizando as colunas
df.sort_index(inplace=True, axis=1)
df

   x  y  z
1  9  8  7
2  6  5  4
3  3  2  1

In [13]:
#organizando por valores de uma coluna
df.sort_values(by='x', inplace=True)
df

   x  y  z
3  3  2  1
2  6  5  4
1  9  8  7

In [14]:
#organizando os valores por uma linha
df.sort_values(by = '3', axis=1, inplace=True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [16]:
#organizando por mais de uma coluna
df.sort_values(by = ['x', 'y'], inplace=True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9