# Relatório de Análise IV

## Seleções e Frequências

In [2]:
import pandas as pd

In [5]:
dados = pd.read_csv('Dados/aluguel_residencial.csv', sep=';')

In [6]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [10]:
dados.Tipo.unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio',
       'Casa de Vila'], dtype=object)

In [14]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [15]:
# Selecione os imóveias classificados com os tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
selecao = (dados['Tipo']  == 'Casa') | (dados['Tipo']  == 'Casa de Condomínio') | (dados['Tipo']  == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [16]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
#60 <= Area <= 100
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [17]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
#duas variáveis
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [18]:
print(f"Número de imóveis classificados com tipo 'Apartamento' = {n1}")
print(f"Número de imóveis classificados com tipo 'Casa', 'Casa de Condomínio' ou 'Casa de Vila' = {n2}")
print(f"Número de imóveis com área entre 60 e 100 metros quadrados, incluíndo estes limites = {n3}")
print(f"Número de imóveis que têm pelo menos 4 quartos e aluguel menor que R$ 2.000,00 = {n4}")

Número de imóveis classificados com tipo 'Apartamento' = 19532
Número de imóveis classificados com tipo 'Casa', 'Casa de Condomínio' ou 'Casa de Vila' = 2212
Número de imóveis com área entre 60 e 100 metros quadrados, incluíndo estes limites = 8719
Número de imóveis que têm pelo menos 4 quartos e aluguel menor que R$ 2.000,00 = 41